#calculatorApp {

	h1 {
		text-align: left;
	}

	#calcBox {
		width: 350px;

		#inputBox {
			overflow:hidden;
			text-overflow:ellipsis;
			border: 1px solid orange;
			min-height: 55px;
			margin-top: 10px;
			margin-left: 10px;
			width: 230px;
			background-color: rgba(0, 0, 0, 0.5);

			span {
				font-size: 1.6em;
				padding-top: 14px;
			}
		}

		.btn {
			border-radius: 5px;
			width: 55px;
			height: 55px;
			margin: 10px;
			font-size: 2em;
		}
	}
}
