#pomodoroApp {
	h1 {
		text-align: left;
	}

	i {
		@include icon-grad();

		&:hover {
			cursor: pointer;
		}
	}

	button {
		@include buttons;
		border: none;
		border-radius: 50%;
		height: 70px;
		width: 70px;
		color: white;
		margin: 10px 20px;
		font-size: 1.25em;

		&:hover {
			cursor: pointer;
		}
	}

	p {
		font-size: 4em;
		color: white !important;
		margin: 20px 0;
	}
}