#pomodoroApp {
	h1 {
		text-align: left;
	}

	span {
		font-size: 1.5em;
		margin: 10px;
		padding: 10px;
		min-width: 55px;
	}

	a {
		font-size: 1.5em;
		margin: 10px;
		padding: 10px;
	}

	p {
		font-size: 3.5em;
		color: white !important;
		margin: 20px 0;
	}
}