#movieQuiz {
	h1 {
		text-align: left;
	}

	p {
		margin: 10px 10px;
		font-size: 1.6em;
		@include gradient;
	}

	#quizAnswer {
		width: 400px;
		height: 35px;
		border-radius: 20px;
		border: none;
		padding: 0 10px;
		color: orange;
		margin-top: 20px;
	}

	#quizSubmit,
	#quizStart,
	#quizReset {
		border: 1px solid orange;
		border-radius: 20px;
		background: none;
		padding: 10px 10px;
		color: orange;
		font-size: 1em;
		margin: 40px 20px;

		&:hover {
			cursor: pointer;
			@include buttons;
			color: black;
			
		}
	}

	#quizCorrect {
		color: green;
	}

	#quizWrong {
		color: red;
	}
}
