#todo {
  font-family: $roboto;
}

i:hover {
  cursor: pointer;
}

#todosCompleted {
  li {
    text-decoration: line-through !important;
  }
}

.display-tasks {
  h2 {
    color: orange;
    font-size: 1.5em;
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
  }
  li {
    font-size: 1.2em;
    i {
      color: orange;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
  }
}