#weather {
	font-family: $nunito;

	h1 {
		font-size: 2em;
		margin-bottom: 10px;
	}
	th {
		font-weight: bold;
	}

	tr {
		img {
			margin-top: -17px;
			margin-bottom: -20px;
		}
	}
	
	.container {
		text-align: center;
		margin: 0 auto;
		max-width: 500px;
		color: white;
		text-shadow: 5px 5px 5px black;
	}
	
	
	.radioBtns {
		margin: 1.5rem 0 0 -0.5rem;
		font-size: 1.25em;
	}
	
	.display {
		display: none;
	}
	
	#localBtn, #cityBtn {
		cursor: pointer;
	}
	
	#cityBtn {
		margin-left: 2rem;
	}
	
	
	#cityInput {
		display: none;
		padding: 0.5rem;
		font-size: 1.25em;
		margin-top: 1rem;
		border: none;
		border-radius: 10px;
		outline: none;
		color: orange;
	}
	
	
	#getWeatherButton {
		padding: 0.6rem 1.3rem;
		font-size: 1.5rem;
		border-radius: 10px;
		border: 1px solid orange;
		background: none;
		margin: 1.5rem;
		cursor: pointer;
		outline: none;
		color: white;
	}
	
	#getWeatherButton:hover {
		background-color: orange;
	}
}