* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.active {
  display: block;
  margin: 50px 20px 0 0;
  transform: scale(1);
  animation: ease-in;
  transition: 0.5s;
}

body {
  background-image: url(../images/bgimg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

#navbarNav li {
  color: white;
  padding-right: 20px;
}

#features {
  color: white;
  max-width: 80px;
  margin-top: 200px;
  padding-left: 8px;
  border-radius: 0 20px 20px 0;
}

#features li {
  list-style: none;
  padding-top: 30px;
  text-shadow: 10px 10px 10px black;
  transform: scale(1);
  animation: ease-in;
  transition: 0.5s;
}

#features li:hover {
  cursor: pointer;
  transform: scale(1.5);
  color: red;
  animation: ease-in;
  transition: 0.5s;
}

#curApp {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  text-align: right;
}

#general {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  text-align: right;
  text-shadow: 5px 5px 5px black;
}

#general h2 {
  margin-bottom: 2em;
}

#general form {
  display: inline-block;
  text-align: right;
  margin-bottom: 2em;
}

#general input[type=submit] {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  text-shadow: 5px 5px 5px black;
}

#general input[type=submit]:hover {
  cursor: pointer;
}

#general li {
  list-style: none;
  font-size: 2.5em;
}

#general #credits {
  margin-top: 20em !important;
}

#general #credits li {
  display: inline;
  padding-left: 20px;
  font-size: 1.5em;
}

#pomodoroFrame {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  text-align: center;
  color: white;
  padding-top: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

#pomodoroFrame button {
  color: white;
  background: none;
  border: none;
  font-size: 2em;
  margin: 10px;
  padding: 10px;
  outline: none;
}

#pomodoroFrame button:hover {
  cursor: pointer;
}

#pomodoroFrame span {
  font-size: 2em;
}

#pomodoroFrame #pomodoroSub, #pomodoroFrame #pomodoroAdd {
  width: 50px;
}

#calculatorApp {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 20px;
  margin: 40px auto;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

#calculatorApp #inputBox {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  margin: 10px 0;
}

#calculatorApp p {
  color: white;
  text-align: right;
}

#calculatorApp a {
  color: white !important;
  width: 33px;
  margin-bottom: 10px;
}

#calculatorApp .bigButton {
  width: 100%;
}

#calculatorApp a:hover {
  cursor: pointer;
}

#bookmarksApp .jumbotron {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#movieQuiz {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 50px;
}

#movieQuiz #quizBanner {
  background-color: black;
  font-size: 1.6em;
  padding: 5px 20px;
  margin-top: -25px;
}

#movieQuiz #quizScore {
  background-color: black;
  padding: 5px 10px;
  margin-top: -18px;
}

#movieQuiz #quizAnswer {
  width: 100%;
  padding: 5px 10px;
}

#movieQuiz #quizSubmit {
  width: 50%;
  margin: 10px 25% 10px 25%;
  color: white;
  background-color: black;
  border: none;
  padding: 7px 0;
}

#movieQuiz #quizSubmit:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

#movieQuiz .text-center {
  font-size: 1.6em;
}

#movieQuiz #quizStart, #movieQuiz #quizReset {
  width: 5em;
  background-color: black;
  color: white;
  border: none;
  margin: 30px 10px 10px 0;
  padding: 7px 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

#movieQuiz #quizStart:hover, #movieQuiz #quizReset:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

#movieQuiz #quizWrong {
  background-color: rgba(0, 0, 0, 0.8);
  color: red;
  margin: 30px 0 10px 10px;
  padding: 7px 10px;
}

#movieQuiz #quizCorrect {
  background-color: rgba(0, 0, 0, 0.8);
  color: green;
  margin: 30px 0 10px 10px;
  padding: 7px 10px;
}
 

 /*# sourceMappingURL= main.css.map */